<div class="container">
  <div class="row business-header">

    <div class="col-8 col-md-8 align-self-end">
      <div class="row">
        <div class='col-md-12'>
          <h1 class="dr-name"><%- business.name -%></h1>
          <p class="business-by-line address"> <%- business.formatted_address -%></p>
          <p class="business-by-line"> <%- business.formatted_phone_number -%></p>
        </div>
      </div>
      <div class="row">
        <% if (reviews.length === 0) { %>
          <div class="col-md-6">
              <p>Be the first to review!</p>
          </div>
        <% } else { %>
          <div class="col-4">
            <div>
              <span class="summary-item">
                <%- business.overallRating -%>
              </span>
              <img src="/static/star-highlight-large.png" class="indicator" />
            </div>
            <span>Overall Rating</span>
          </div>

          <div class="col-4">
            <div>
              <span class="summary-item">
                <%- business.reviewCount -%>
              </span>
              <img src="/static/check-small.png" class="indicator" />
            </div>
            <span>Total reviews</span>
          </div>
        <% } %>
      </div>
    </div>

    <div class="col-4 col-md-4 align-self-end">
      <% if (photoURL) { %>
      <img
      class="img-thumbnail img-fluid biz-img"
      src="<%- photoURL -%>"
      />
      <% } else { %>
      <img
      class="img-thumbnail img-fluid biz-img"
      src="/static/placeholder.png"
      />
      <% } %>
    </div>
  </div>

  <div class="row border rounded breakdown-section">
      <div class="col-md-2">
        body positivity
      </div>
      <div class="col-md-2">
        lgbtq Inclusivity
      </div>
      <div class="col-md-2">
        poc inclusivity
      </div>
      <div class="col-md-2">
        furniture size
      </div>
      <div class="col-md-2">
        building accessibility
      </div>
  </div>


  <div class="row reviews-header">

    <div class="col-md-2">
      <h2>Reviews</h2>
    </div>

    <div class="col-md-4">
      <a
        class="btn btn-info review-button"
        href="/businesses/<%- googleId -%>/reviews/new"
        role="button"> Add Your Review + </a>
    </div>
  </div>

  <div class="row reviews-title">
    <div class="col-md-12">
      <% if (reviews.length != 0) { %>
          <ul class="list-group">
            <% for (const review of reviews) { %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-2">
                    <span><%- review.user.name -%></span>  says:
                    </br/>
                    <span><%- review.date -%></span>
                  </div>
                  <div class="col-4 star-box">
                    <div class="row float-right">
                      <span class="star-rating">Body Positivity</span>
                      <div class="review-star-rating" data-value="<%- review.bodyPositivity -%>" data-size="small"></div>
                    </div>
                    <div class="row float-right">
                      <label class="star-rating">LGBTQ Inclusivity</label>
                      <div class="review-star-rating" data-value="<%- review.lgbtqInclusivity -%>" data-size="small">
                      </div>
                    </div>
                    <div class="row float-right">
                      <label class="star-rating">POC Inclusivity</label>
                      <div class="review-star-rating" data-value="<%- review.pocInclusivity -%>" data-size="small">
                      </div>
                    </div>
                    <div class="row float-right">
                      <label class="star-rating">Building Accessibility</label>
                      <div class="review-star-rating" data-value="<%- review.buildingAccessibility -%>" data-size="small">
                      </div>
                    </div>
                    <div class="row float-right">
                      <label class="star-rating">Furniture for Large Bodies</label>
                      <div class="review-star-rating" data-value="<%- review.furnitureSize -%>" data-size="small">
                      </div>
                    </div>
                  </div>
                  <div class="col-6 review-content-col">
                    <%- review.content -%>
                  </div>
                </div>
              </li>
            <% } %>
          </ul>

      <% } %>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
  const starRatingElements = document.getElementsByClassName("review-star-rating");
  for (const element of starRatingElements) {
    new ample.StarRatingView(element);
  }
</script>

<%- contentFor('title') -%>
Ample | <%- business.name -%>
