<div class="container">
  <div class="row business-header">

    <div class="col-8 col-md-8 align-self-end">
      <div class="row">
        <div class='col-md-12'>
          <h1 class="dr-name"><%- business.name -%></h1>
          <p class="business-by-line address"> <%- business.formatted_address -%></p>
          <p class="business-by-line"> <%- business.formatted_phone_number -%></p>
        </div>
      </div>
      <div class="row">
        <% if (reviews.length === 0) { %>
          <div class="col-md-6">
              <p>Be the first to review!</p>
          </div>
        <% } else { %>
          <div class="col-4">
            <div>
              <span class="summary-item">
                <%- business.overallRating -%>
              </span>
              <img src="/static/star-highlight.png" class="indicator" />
            </div>
            <span>Overall Rating</span>
          </div>

          <div class="col-4">
            <div>
              <span class="summary-item">
                <%- business.reviewCount -%>
              </span>
              <img src="/static/check-small.png" class="indicator" />
            </div>
            <span>Total reviews</span>
          </div>
        <% } %>
      </div>
    </div>

    <div class="col-4 col-md-4 align-self-end">
      <% if (photoURL) { %>
      <img
      class="img-thumbnail img-fluid biz-img"
      src="<%- photoURL -%>"
      />
      <% } else { %>
      <img
      class="img-thumbnail img-fluid biz-img"
      src="/static/placeholder.png"
      />
      <% } %>
    </div>
  </div>

  <div class="row border rounded breakdown-section">
      <div class="col-md-2">
        body positivity
      </div>
      <div class="col-md-2">
        lgbtq Inclusivity
      </div>
      <div class="col-md-2">
        poc inclusivity
      </div>
      <div class="col-md-2">
        furniture size
      </div>
      <div class="col-md-2">
        building accessibility
      </div>
  </div>


  <div class="row reviews-header">

    <div class="col-md-2">
      <h2>Reviews</h2>
    </div>

    <div class="col-md-4">
      <a
        class="btn btn-info review-button"
        href="/businesses/<%- googleId -%>/reviews/new"
        role="button"> Add Your Review + </a>
    </div>
  </div>

  <div class="row reviews-title">
    <div class="col-md-12">
      <% if (reviews.length != 0) { %>
          <ul class="list-group">
            <% for (const review of reviews) { %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    <%- review.user.name -%> on <%- review.date -%> says:
                  </div>
                  <div class="col-8">
                    <%- review.content -%>
                  </div>
                </div>
              </li>
            <% } %>
          </ul>

      <% } %>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
// new ample.StarRatingView(document.getElementById('body-positivity-rating'))
// new ample.StarRatingView(document.getElementById('lgbtq-inclusivity-rating'))
// new ample.StarRatingView(document.getElementById('poc-inclusivity-rating'))
// new ample.StarRatingView(document.getElementById('building-accessibility-rating'))
// new ample.StarRatingView(document.getElementById('furniture-size-rating'))
// new ample.StarRatingView(document.getElementById('overall-rating'))
</script>

<%- contentFor('title') -%>
Ample | <%- business.name -%>
