<div class="container">
  <div class="row business-header">
    <div class="col-md-4">
      <img
      class="img-thumbnail"
      src="/static/people-in-a-coffee-shop.jpg"
       width="300px"
      />
    </div>
    <div class="col-md-8">
      <h1 class="dr-name"><%- name -%></h1>
      <p class="business-by-line"> <%- formatted_address -%></p>
      <p class="business-by-line"> <%- formatted_phone_number -%></p>
      <% if (reviews.length === 0) { %>
      <p>Be the first to review!</p>
      <% } else { %>
      <p>score: <%- averageRating -%> from <%- reviewCount -%> users </p>
      <% } %>
      <a class="btn btn-info review-button" href="/businesses/<%- googleId -%>/reviews/new" role="button">Review</a>
    </div>
  </div>
  <div class="row reviews-title">
    <div class="col-md-12">
      <% if (reviews.length != 0) { %>
          <h2>Reviews</h2>
        <% for (const review of reviews) { %>
          <p>
            <%- review.content -%>
            <%- review.user -%>
          </p>
        <% } %>
      <% } %>
    </div>
  </div>
</div>

<%- contentFor('title') -%>
Ample | <%- name -%>
