<div class="container">
  <div class="row business-header">

    <div class="col-12 col-lg-8 align-self-end order-12">

        <h1 class="biz-name"><%- business.name -%></h1>
        <p class="business-address"> <%- business.address -%></p>
        <div class="row">
          <div class="col-5 col-lg-3 phone-number-col">
            <div class="business-phone"> <%- business.phone -%></div>
          </div>
          <div class="col-2 col-lg-2 claim-button-col">
            <% if (!business.ownershipConfirmed) { %>
            <a href="/businesses/<%- business.id -%>/claim" class="claim-button float-left">Claim</a>
            <% } %>
          </div>
          <div class="col-5 col-lg-2 amplify-button-col">
            <% if (user && user.isAmplifier && !business.amplifierId) { %>
              <a href="/businesses/<%- business.id -%>/amplify" class="amplify-button">Amplify</a>
            <% } %>
            <% if (user && user.isAmplifier && business.amplifierId) { %>
              <a href="#" class="amplify-button disabled">Already Amplified</a>
            <% } %>
          </div>
        </div>

      <div id="score-row" class="row score-row">
        <% if (reviews.length != 0) { %>
          <div class="col-lg-3 rating-doodad">
            <span class="summary-item">
              <%- business.overallRating -%>
            </span>
            <img src="/static/star-highlight-large.png" class="indicator" />
            <br />
            <span>Overall Rating</span>
          </div>

          <div class="col-lg-3 rating-doodad">
            <span class="summary-item">
              <%- business.reviewCount -%>
            </span>
            <img src="/static/checkmark.png" class="indicator" />
            <br />
            <span>Total reviews</span>
          </div>
        <% } %>

        <% if (business.ownershipConfirmed && business.takenPledge) { %>
          <div class="col-4 col-lg-3 rating-doodad align-self-end">
            <div class="business-badge">
              <img src="/static/pledgeBadge.png"/>
              <br />
              <span>Taken Pledge</span>
            </div>
          </div>
        <% } %>
      </div>

      <% if (business.tags && business.tags.length != 0) { %>
        <div class="row tags-row">
          <div class="col-12">
              <% for (const tag of business.tags.slice(0, 6)) { %>
                <span class="tag-list-item tag-list-item-display"><%- tag -%></span>
              <% } %>
          </div>
        </div>
      <% } %>
    </div>

    <div class="col-12 col-lg-4 align-self-end order-1 order-lg-12 biz-image-col">
      <% if (photoURL) { %>
      <img
      class="img-fluid biz-img"
      src="<%- photoURL -%>"
      />
      <% } else { %>
      <img
      class="img-fluid biz-img"
      src="/static/placeholder-wide.png"
      />
      <% } %>
    </div>
  </div>

  <% if (business.ownerStatement && business.ownershipConfirmed && business.takenPledge) { %>
    <div class="row section-separator">
    </div>

    <div class="row statement-row">
      <div class="col-12">
        <strong>Owner Statement:</strong> "<%- business.ownerStatement -%>"
      </div>
    </div>
  <% } %>

  <% if (reviews.length === 0) { %>
    <div class="section-separator">
      <br />
    </div>
  <% } %>

  <% if (reviews.length != 0) { %>

    <% if (isMobile) { %>
      <%- include rating-breakdown-mobile.ejs %>
    <% } else { %>
      <%- include rating-breakdown-large.ejs %>
    <% } %>

  <% } %>


  <div class="row reviews-header">
    <div class="col-4 col-lg-2">
      <h3 class="reviews-title">Reviews</h3>
    </div>

    <div class="col-8 col-lg-3">
      <% if (!hasReviewedThisBusiness) { %>
        <form method="GET" action="/businesses/<%- business.id -%>/reviews/new">
          <input name="name" type="hidden" value="<%- business.name -%>"/>
          <input name="address" type="hidden" value="<%- business.address -%>"/>
          <input type="submit" value="Add a Review" class="btn btn-info review-button"/>
        </form>
      <% } else { %>
        <a
          class="btn btn-info review-button disabled"
          href=""
          role="button">Reviewed</a>
      <% } %>
    </div>
  </div>

  <div class="row reviews-body">
    <div class="col-12">
    <% if (reviews.length != 0) { %>
        <ul class="list-group list-group-flush">
          <% for (const review of reviews) { %>
            <li class="list-group-item" id="review-<%- review.id -%>">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-2 order-1">
                  <span class="reviewed-by">Reviewed by <%- review.user.name -%></span>
                  <span class="reviewed-by"><%- review.date -%></span>
                </div>
                <div class="col-12 col-lg-2 order-12">
                  <% if (user && user.id === review.user.id) { %>
                  <a href="/businesses/<%- business.id -%>/reviews/<%- review.id -%>/edit">edit review</a>
                  <% } %>
                </div>
                <div class="col-12 col-md-6  col-lg-4 star-box order-2">
                  <% for (const criteriaName in CRITERIA_DESCRIPTIONS) { %>
                    <div class="row float-right">
                      <label class="star-rating-label"><%- CRITERIA_DESCRIPTIONS[criteriaName] -%></label>
                      <div class="star-rating" data-value="<%- review[criteriaName + 'Rating'] -%>" data-size="small"></div>
                    </div>
                  <% } %>
                </div>
                <div class="col-12 col-lg-6 review-content-col order-3">
                  <%- review.content -%>
                </div>
              </div>
              </li>
            <% } %>
          </ul>
      <% } else { %>
        <div class="no-reviews-yet">This establishment has no reviews on Ample yet!</div>

      <% } %>
    </div>
  </div>
  <div class="push">
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
  ample.setUpStarRatings();
  ample.collapseNoAnimate();

  const scoreRow = document.getElementById('score-row');

  const ratingDoodads = document.getElementsByClassName('rating-doodad');
  if (<%-JSON.stringify(business.ownershipConfirmed)%> && <%-JSON.stringify(business.takenPledge)%>) {
    for (let ratingDoodad of ratingDoodads) {
      ratingDoodad.classList.add('col-4');
    }
  } else {
    for (let ratingDoodad of ratingDoodads) {
      ratingDoodad.classList.add('col-6');
    }
  }


  if (<%-JSON.stringify(reviews)%>.length == 0)  {
    scoreRow.classList.add('no-reviews');
  }

  ample.enableSubmitButton(
    document.getElementsByTagName('form')[0],
    (parameters) =>
      parameters['parent-category']
  );

</script>

<%- contentFor('title') -%>
Ample | <%- business.name -%>
