<div class="container">
  <div class="row business-header">

    <div class="col-12 col-lg-8 align-self-end order-12">

        <h1 class="dr-name"><%- business.name -%></h1>
        <p class="business-by-line address"> <%- business.formatted_address -%></p>
        <p class="business-by-line"> <%- business.formatted_phone_number -%></p>

      <div class="row score-row">
        <% if (reviews.length != 0) { %>
          <div class="col-6 rating-doodad">
            <span class="summary-item">
              <%- business.overallRating -%>
            </span>
            <img src="/static/star-highlight-large.png" class="indicator" />
            <br />
            <span>Overall Rating</span>
          </div>

          <div class="col-6 rating-doodad">
            <span class="summary-item">
              <%- business.reviewCount -%>
            </span>
            <img src="/static/checkmark.png" class="indicator" />
            <br />
            <span>Total reviews</span>
          </div>
        <% } %>
      </div>
    </div>

    <div class="col-12 col-lg-4 align-self-end order-1 order-lg-12 biz-image-col">
      <% if (photoURL) { %>
      <img
      class="img-fluid biz-img"
      src="<%- photoURL -%>"
      />
      <% } else { %>
      <img
      class="img-fluid biz-img"
      src="/static/placeholder-wide.png"
      />
      <% } %>
    </div>
  </div>


  <% if (reviews.length != 0) { %>

    <% if (isMobile) { %>
      <%- include rating-breakdown-mobile.ejs %>
    <% } else { %>
      <%- include rating-breakdown-large.ejs %>
    <% } %>

  <% } %>

  <div class="row reviews-header">
    <div class="col-4 col-lg-2">
      <h3 class="review">Reviews</h3>
    </div>

    <div class="col-8 col-lg-3">
      <a
        class="btn btn-info review-button"
        href="/businesses/<%- googleId -%>/reviews/new"
        role="button">Add Your Review</a>
    </div>
  </div>

  <div class="row reviews-body">
    <div class="col-12">
    <% if (reviews.length != 0) { %>
        <ul class="list-group list-group-flush">
          <% for (const review of reviews) { %>
            <li class="list-group-item" id="review-<%- review.id -%>">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-2 order-1">
                  <span class="reviewed-by">Reviewed by <%- review.user.name -%></span>
                  <span class="reviewed-by"><%- review.date -%></span>
                </div>
                <div class="col-12 col-lg-2 order-12">
                  <% if (user && user.id === review.user.id) { %>
                  <a href="/businesses/<%- googleId -%>/reviews/<%- review.id -%>/edit">edit review</a>
                  <% } %>
                </div>
                <div class="col-12 col-md-6  col-lg-4 star-box order-2">
                  <% for (const categoryName in CATEGORY_DESCRIPTIONS) { %>
                    <div class="row float-right">
                      <label class="star-rating"><%- CATEGORY_DESCRIPTIONS[categoryName] -%></label>
                      <div class="review-star-rating" data-value="<%- review[categoryName] -%>" data-size="small"></div>
                    </div>
                  <% } %>
                </div>
                <div class="col-12 col-lg-6 review-content-col order-3">
                  <%- review.content -%>
                </div>
              </div>
              </li>
            <% } %>
          </ul>

      <% } %>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
  const starRatingElements = document.getElementsByClassName("review-star-rating");
  for (const element of starRatingElements) {
    new ample.StarRatingView(element, false);
  }

  ample.collapseNoAnimate();
</script>

<%- contentFor('title') -%>
Ample | <%- business.name -%>
