<div class= "container">

  <div class="row review-business-top-row">
    <div class="col-12 col-lg-6">
      <span class="review-biz-name"><%- business.name -%></span>
      <br />
      <%- business.address -%>
    </div>
  </div>

  <div class="row review-title">
    <div class="col-12">
      <h2>Edit Your Review</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="main-form" method="POST" action="/businesses/<%- business.id -%>/reviews/<%- review.id -%>">
        <div class="row form-group">
          <div class="col-12">
            <% for (const criteria in CRITERIA_DESCRIPTIONS) { %>
              <% const ratingName = `${criteria}-rating`; %>
              <label class="star-rating-label" for="<%- ratingName -%>"><%- CRITERIA_DESCRIPTIONS[criteria] -%> Rating</label>
              <div
                class="star-rating"
                id="<%- ratingName -%>"
                data-name="<%- ratingName -%>"
                data-value="<%- review[`${criteria}Rating`] %>"></div>
            <% } %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <textarea class="form-control" name="content" rows="8"><%- review.content -%></textarea>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <small class="tag-label" for="tag-input">Add tags that describe key aspects of this business.</small>
            <div id="tag-input-outer-div" class="form-control">
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-5">
            <small for="parent-category">Help us to know what kind of business this is.</small>
            <select id="parent-category-select" class="form-control" name="parent-category">
              <option disabled>Select a category</option>
            </select>
          </div>

          <div class="col-12 col-lg-5">
            <small for="parent-category">Some subcategories...</small>
            <select id="child-category-select" class="form-control" name="child-category">
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <button type="submit" class="btn review-submit-button" >Update Review</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
const childCategoriesByParentCategory = <%- JSON.stringify(childCategoriesByParentCategory) %>;
const initialCategories = <%- JSON.stringify(review.categories) %>;

const parentCategorySelect = document.getElementById('parent-category-select');
const childCategorySelect = document.getElementById('child-category-select');

for (const parentCategory in childCategoriesByParentCategory) {
  const option = document.createElement('option');
  option.value = parentCategory;
  option.innerText = parentCategory;
  if (parentCategory === initialCategories[0]) {
    option.selected = 'selected';
  }
  parentCategorySelect.appendChild(option);
}

parentCategorySelect.addEventListener('change', () => populateChildCategories());
populateChildCategories(initialCategories[1]);

function populateChildCategories(selectedChildCategory) {
  const parentCategory = parentCategorySelect.value;
  const childCategories = childCategoriesByParentCategory[parentCategory];
  childCategorySelect.innerHTML = '<option></option>';

  for (const childCategory of childCategories) {
    const option = document.createElement('option');
    if (childCategory === selectedChildCategory) {
      option.selected = 'selected';
    }
    option.value = childCategory;
    option.innerText = childCategory;
    childCategorySelect.appendChild(option);
  }
}

ample.setUpStarRatings();

ample.tagInput(
  document.getElementById('tag-input-outer-div'),
  <%- JSON.stringify(review.tags) -%>,
  <%- JSON.stringify(allTags) -%>
);

ample.enableSubmitButton(
  document.getElementsByTagName('form')[0],
  (parameters) =>
    parameters.content &&
    parameters['parent-category'] &&
    (
      parameters['fat-rating'] ||
      parameters['trans-rating'] ||
      parameters['disabled-rating']
    )
);

</script>

<%- contentFor('title') -%>
Ample | Edit Review
