<div class= "container">

  <div class="row review-business-top-row">
    <div class="col-12 col-lg-6">
      <span class="dr-name"><%- business.name -%></span>
      <br />
      <%- business.address -%>
      <br />
      <%- business.phone -%>
    </div>
  </div>

  <div class="row review-title">
    <div class="col-12">
      <h2>Edit Your Review</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="main-form" method="POST" action="/businesses/<%- business.googleId -%>/reviews/<%- review.id -%>">
        <div class="row form-group">
          <div class="col-12">
            <label class="star-rating-label" for="body-positivity-rating">Body Positivity Rating</label>
            <div
              class="star-rating"
              id="body-positivity-rating"
              data-name="body-positivity-rating"
              data-value="<%- review.bodyPositivity %>"></div>
            <label class="star-rating-label" for="lgbtq-inclusivity-rating">LGBTQ Inclusivity Rating</label>
            <div
              class="star-rating"
              id="lgbtq-inclusivity-rating"
              data-name="lgbtq-inclusivity-rating"
              data-value="<%- review.lgbtqInclusivity %>"></div>
            <label class="star-rating-label" for="poc-inclusivity-rating">P.O.C Inclusivity Rating</label>
            <div
              class="star-rating"
              id="poc-inclusivity-rating"
              data-name="poc-inclusivity-rating"
              data-value="<%- review.pocInclusivity %>"></div>
            <label class="star-rating-label" for="building-accessibility-rating">Building and Space Accessibility Rating</label>
            <div
              class="star-rating"
              id="building-accessibility-rating"
              data-name="building-accessibility-rating"
              data-value="<%- review.buildingAccessibility %>"></div>
            <label class="star-rating-label" for="furniture-size-rating">Furniture Suitable for Fat Bodies</label>
            <div
              class="star-rating"
              id="furniture-size-rating"
              data-name="furniture-size-rating"
              data-value="<%- review.furnitureSize %>"></div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <textarea class="form-control" name="content" rows="8"><%- review.content -%></textarea>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-5">
            <small for="parent-category">Help us to know what kind of business this is.</small>
            <select id="parent-category-select" class="form-control" name="parent-category">
              <option disabled>Select a category</option>
            </select>
          </div>

          <div class="col-12 col-lg-5">
            <small for="parent-category">Some subcategories...</small>
            <select id="child-category-select" class="form-control" name="child-category">
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-9">
            <button type="submit" class="btn review-submit-button" >Update Review</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
const childCategoriesByParentCategory = <%- JSON.stringify(childCategoriesByParentCategory) %>;
const initialCategories = <%- JSON.stringify(review.categories) %>;

const parentCategorySelect = document.getElementById('parent-category-select');
const childCategorySelect = document.getElementById('child-category-select');

for (const parentCategory in childCategoriesByParentCategory) {
  const option = document.createElement('option');
  option.value = parentCategory;
  option.innerText = parentCategory;
  if (parentCategory === initialCategories[0]) {
    option.selected = 'selected';
  }
  parentCategorySelect.appendChild(option);
}

parentCategorySelect.addEventListener('change', () => populateChildCategories());
populateChildCategories(initialCategories[1]);

function populateChildCategories(selectedChildCategory) {
  const parentCategory = parentCategorySelect.value;
  const childCategories = childCategoriesByParentCategory[parentCategory];
  childCategorySelect.innerHTML = '<option></option>';

  for (const childCategory of childCategories) {
    const option = document.createElement('option');
    if (childCategory === selectedChildCategory) {
      option.selected = 'selected';
    }
    option.value = childCategory;
    option.innerText = childCategory;
    childCategorySelect.appendChild(option);
  }
}

ample.setUpStarRatings();
</script>

<%- contentFor('title') -%>
Ample | Edit Review
