
<div class="main-background">
  <div class="container">
    <div class="row logo-row">
      <div class="col-12">
        <p class="ample-logo">
          ample
        </p>

      </div>
    </div>
    <form action="/searchforbusinesses" method="GET">
      <div class="form-row search-row">
        <div class="col-12 col-lg-6">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Find</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="business-search-term"
              autocomplete="off"
              name="term"
              placeholder="doctors, Sally's Hair Salon, massage" />
          </div>
        </div>

        <div class="col-10 col-lg-5">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Near</div>
            </div>
            <input
              type="text"
              class="form-control"
              name="location"
              id="business-location"
              placeholder="address, city, zip code" />
          </div>
        </div>
        <div class="col-2 col-lg-1">
          <input type="submit" value="Go" class="btn go-button"/>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <p class="tag-line">
          Ample is a review app to help people find all sorts of establishments that are friendly to marginalized bodies.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row map-background">
  <div class="container">
    <% if (isMobile) { %>
      <div id="map" class="map"></div>
    <% } else { %>
      <div class="row map-row">
          <div class="col-md-4 align-self-center">
            <p class="map-blurb">
              We're worldwide. Explore the map.
            </p>
          </div>
        <div class="col-md-8 align-self-center">
          <div id="map" class="map"></div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<div class="container info-area">
  <div class="row info-area-row">
    <div class="col-md-4 info-col">
      <div class="row info-picture-row">
        <div class="col-12 align-self-end">
          <div class="eye-img">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            Review a doctor, business, or service from an intersectional perspective: as a fat person, trans person, disabled person, and/or Person of Color.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row info-picture-row">
        <div class="col-12 align-self-end">
          <div class="snowflake-img">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            Is that doctor familiar with Health at Every Size®? Does that venue have all gender bathrooms? Is that restaurant wheelchair accessible? Is that business POC-owned?
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row info-picture-row">
        <div class="col-12 align-self-end">
          <div class="megaphone-img">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            Ample is activism. This is a grassroots effort to make our communities more inclusive. Help others find welcoming spaces and better health providers. Make a review today.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="cards-background">
  <div class="container cards">
    <div class="row">
      <div class="col-12">
        <h5 class="cards-title">Check out these recently-reviewed businesses</h5>
      </div>
    </div>
    <div class="row">
      <% for (let i = 0; i < 3; i++) { %>
        <% const review = recentReviews[i]; %>
        <% if (!review) break; %>

        <div class="col-md-4">
          <div class="card recent-review-card bg-light mb-3">
            <a href="/businesses/<%- review.businessId -%>">
              <img class="card-img-top" src='<%- review.photoURL -%>' alt="Card image cap">
              <div class="card-body">
                <div class="card-top">
                  <h5 class="card-title"><%- review.businessName -%></h5>
                  <h6 class="cards-address"><%- abbreviateAddress(review.businessAddress) -%></h6>
                </div>
                <p class="card-text"><%- review.content -%></p>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<div class="push">
</div>


<%- contentFor('scripts') -%>

<script>
let map;

const reviews = <%- JSON.stringify(allReviews) %>

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
   center: {lat: 22, lng: -109},
   zoom: 2,
   mapTypeControl: false,
   clickableIcons: false
  });

  let infoWindow = new google.maps.InfoWindow();

  let markers = [];
  for (review of reviews) {
    const previewContent = review.content.split(".")[0] + "...";
    let marker = new google.maps.Marker(
      {
        position: {lat: review.businessLatitude, lng: review.businessLongitude},
        map: map,
        info:
          `<a style="color: black;" href="/businesses/${review.businessId}">
          <h6>${review.businessName}</h6>
          <p style="color: #A9A9A9;">${review.businessAddress}</p>
          <div>
            ${previewContent}
          </div>
          <a style="float: right;" href="/businesses/${review.businessId}">see more</a>
          </a>
          `
      }
    );

    markers.push(marker);

    marker.addListener('click', function() {
      infoWindow.setOptions(
        {
          content: this.info,
          maxWidth: 300
        }
      );
      infoWindow.open( map, marker);
    });
  }

  var markerCluster = new MarkerClusterer(map, markers,
   {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
}

ample.setUpStarRatings();

for (const card of document.getElementsByClassName('card-text')) {
  ample.clamp(card, {clamp: 'auto'});
}

const categories = <%- JSON.stringify(categories) %>;

ample.autocomplete('#business-search-term', {
  appendTo: 'body',
  hint: false,
  openOnFocus: true,
}, [
  {
    displayKey: (category) => category,
    source: (query, callback) => {
      query = query.toLowerCase();

      callback(categories.filter(category => {
        category = category.toLowerCase();
        return (
          category.indexOf(query) === 0 ||
          category.indexOf(' ' + query) !== -1
        );
      }));
    }
  }
]);

ample.locationField(document.getElementById("business-location"));


</script>

<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHYOZDKGQIm4oxgu148sFTaDZ-0v50icI&callback=initMap"
    async defer></script>

<%- contentFor('title') -%>
Ample | Welcome
