
<div class="main-background">
  <div class="container">
    <div class="row logo-row">
      <div class="col-12">
        <p class="ample-logo">
          ample
        </p>

      </div>
    </div>
    <form action="/searchforbusinesses" method="GET">
      <div class="form-row search-row">
        <div class="col-12 col-lg-6">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Find</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="business-search-term"
              autocomplete="off"
              name="term"
              placeholder="doctors, Sally's Hair Salon, massage" />
          </div>
        </div>

        <div class="col-10 col-lg-5">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Near</div>
            </div>
            <input
              type="text"
              class="form-control"
              name="location"
              id="business-location"
              placeholder="address, city, zip code" />
          </div>
        </div>
        <div class="col-2 col-lg-1">
          <input type="submit" value="Go" class="btn go-button"/>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <p class="tag-line">
          Ample is a review site to help people find all sorts of establishments that are friendly to marginalized bodies.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="confettibackground">
  <div class="container">
    <div class="row characters-row">
      <div class="characters1"></div>
      <div class="characters2"></div>
    </div>
  </div>
</div>




<div class="container cards">
  <div class="row">
    <% for (let i = 0; i < 3; i++) { %>
      <% const review = recentReviews[i]; %>
      <% if (!review) break; %>

      <div class="col-md-4">
        <div class="card recent-review-card">
          <a href="/businesses/<%- review.businessGoogleId -%>">
            <div class="card-body">
              <div class="card-top">
                <h5 class="card-title"><%- review.businessName -%></h5>
                <h6 class="card-subtitle mb-2 text-muted">reviewed by <%- review.user.name -%></h6>
              </div>
              <p class="card-text"><%- review.content -%></p>
            </div>
          </a>
        </div>
      </div>

    <% } %>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
ample.setUpStarRatings();

for (const card of document.getElementsByClassName('card-text')) {
  ample.clamp(card, {clamp: 'auto'});
}

const categories = <%- JSON.stringify(categories) %>;

ample.autocomplete('#business-search-term', {
  appendTo: 'body',
  hint: false,
  openOnFocus: true,
}, [
  {
    displayKey: (category) => category,
    source: (query, callback) => {
      query = query.toLowerCase();

      callback(categories.filter(category => {
        category = category.toLowerCase();
        return (
          category.indexOf(query) === 0 ||
          category.indexOf(' ' + query) !== -1
        );
      }));
    }
  }
]);

ample.locationField(document.getElementById("business-location"));

</script>

<%- contentFor('title') -%>
Ample | Welcome
