
<div class="main-background">
  <div class="container">
    <div class="row logo-row">
      <div class="col-12">
        <p class="ample-logo">
          ample
        </p>

      </div>
    </div>
    <form action="/searchforbusinesses" method="GET">
      <div class="form-row search-row">
        <div class="col-6">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Find</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="business-search-term"
              name="term"
              placeholder="doctors, Sally's Hair Salon, massage" />
          </div>
        </div>

        <div class="col-5">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Near</div>
            </div>
            <input
              type="text"
              class="form-control"
              name="location"
              id="business-location"
              placeholder="address, city, zip code" />
          </div>
        </div>
        <div class="col-1">
          <input type="submit" value="Go" class="btn go-button"/>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <p class="tag-line">
          Friends helping friends find doctors, establishments, and services where larger bodies are seen, respected, and celebrated.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container cards">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%- recentReviews[0].businessName -%></h5>
          <h6 class="card-subtitle mb-2 text-muted">reviewed by <%- recentReviews[0].user.name -%></h6>
          <p class="card-text"><%- recentReviews[0].content -%></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%- recentReviews[1].businessName -%></h5>
          <h6 class="card-subtitle mb-2 text-muted">reviewed by <%- recentReviews[1].user.name -%></h6>
          <p class="card-text"><%- recentReviews[1].content -%></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%- recentReviews[2].businessName -%></h5>
          <h6 class="card-subtitle mb-2 text-muted">reviewed by <%- recentReviews[2].user.name -%></h6>
          <p class="card-text"><%- recentReviews[2].content -%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('title') -%>
Ample | Welcome
