
<div class="main-background">
  <div class="container">
    <div class="row logo-row">
      <div class="col-12">
        <p class="ample-logo">
          ample
        </p>

      </div>
    </div>
    <form action="/searchforbusinesses" method="GET">
      <div class="form-row search-row">
        <div class="col-12 col-lg-6">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Find</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="business-search-term"
              autocomplete="off"
              name="term"
              placeholder="doctors, Sally's Hair Salon, massage" />
          </div>
        </div>

        <div class="col-10 col-lg-5">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Near</div>
            </div>
            <input
              type="text"
              class="form-control"
              name="location"
              id="business-location"
              placeholder="address, city, zip code" />
          </div>
        </div>
        <div class="col-2 col-lg-1">
          <input type="submit" value="Go" class="btn go-button"/>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <p class="tag-line">
          Ample is a review app to help people find all sorts of establishments that are friendly to marginalized bodies.
        </p>
      </div>
    </div>
  </div>
</div>

<% if (isMobile) { %>
<% } else { %>
<% } %>

<div class="confettibackground">
  <div class="container">
    <div class="row characters-row">
      <% if (isMobile) { %>
        <div id="chars-mobile" class="chars-mobile char1">

        </div>
      <% } else { %>
        <div class="characters-big"></div>
      <% } %>
    </div>
  </div>
</div>



<div class="cards-background">
  <div class="container cards">
    <div class="row">
      <div class="col-12">
        <h5 class="cards-title">Check out the most
          recently-reviewed businesses from around the world</h5>
      </div>
    </div>
    <div class="row">
      <% for (let i = 0; i < 3; i++) { %>
        <% const review = recentReviews[i]; %>
        <% if (!review) break; %>

        <div class="col-md-4">
          <div class="card recent-review-card">
            <a href="/businesses/<%- review.businessId -%>">
              <div class="card-body">
                <div class="card-top">
                  <h5 class="card-title"><%- review.businessName -%></h5>
                  <h6 class="cards-address"><%- abbreviateAddress(review.businessAddress) -%></h6>
                </div>
                <p class="card-text"><%- review.content -%></p>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>

</div>

<%- contentFor('scripts') -%>
<script>
ample.setUpStarRatings();

for (const card of document.getElementsByClassName('card-text')) {
  ample.clamp(card, {clamp: 'auto'});
}

const categories = <%- JSON.stringify(categories) %>;

ample.autocomplete('#business-search-term', {
  appendTo: 'body',
  hint: false,
  openOnFocus: true,
}, [
  {
    displayKey: (category) => category,
    source: (query, callback) => {
      query = query.toLowerCase();

      callback(categories.filter(category => {
        category = category.toLowerCase();
        return (
          category.indexOf(query) === 0 ||
          category.indexOf(' ' + query) !== -1
        );
      }));
    }
  }
]);

ample.locationField(document.getElementById("business-location"));

const charDiv = document.getElementById('chars-mobile');
if (charDiv) {
  function timeoutLoop () {
    setTimeout(function () {
      if (charDiv.classList.contains('char1')) {
        charDiv.classList.remove('char1');
        charDiv.classList.add('char2');
      } else {
        charDiv.classList.remove('char2');
        charDiv.classList.add('char1');
      }
      timeoutLoop();
    }, 3000);
  }
  timeoutLoop()
}

</script>

<%- contentFor('title') -%>
Ample | Welcome
