<!DOCTYPE html>
<html>
<head>
<title><%- title %></title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/app.css"/>
<link href="https://fonts.googleapis.com/css?family=Lilita+One|Roboto" rel="stylesheet">
<%- defineContent('styleSheets') %>
</head>
<body>
  <nav class="navbar sticky-top navigation">
    <a class="navbar-brand" href="/">
      <img src="/static/peach.png" width="50" height="50" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">FAQ <span class="sr-only">(current)</span></a>
      </li>
  </div>
  <% if (user) { %>
    <a href="/profiles/<%- user.id -%>"> <%- user.name -%> </a>
  <% } else { %>
    <a href="/login">Log In</a>
  <% } %>
  </nav>
  <%- body %>
</body>

<script src="/static/bundle.js"></script>
<%- defineContent('scripts') %>

</html>
