<!DOCTYPE html>
<html>
<head>

<script>
const MOBILE_REGEX = /^mobile\./;
if (screen.width < 767) {
  if (!MOBILE_REGEX.test(location.host)) {
    location.host = 'mobile.' + location.host;
  }
} else {
  if (MOBILE_REGEX.test(location.host)) {
    location.host = location.host.replace(MOBILE_REGEX, '');
  }
}
</script>

<title><%- title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://isitample.com/static/screenshot-usmap-with-markers.png" />
<meta name="description" content="Ample is a rating and review app to help people find doctors, businesses, and services that are friendly to people who live in marginalized bodies." />
<meta property="og:title" content="Ample" />
<meta property="og:url" content="https://www.isitample.com" />
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/bundle.css"/>
<link href="https://fonts.googleapis.com/css?family=Lilita+One|Roboto" rel="stylesheet">

<%- defineContent('styleSheets') %>
</head>
<body>
  <nav class="navbar sticky-top navigation navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/static/amplelogo.svg" width="50" height="50" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/ourvision">Our Vision<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/team">Team<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/faq">FAQ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/feedback">Give Feedback<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://blog.isitample.com">Blog<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <% if (user) { %>
        <a class="nav-link" href="/profiles/<%- user.id -%>"><%- user.name -%></a>
      <% } else { %>
        <a class="nav-link" href="/login">Log In</a>
      <% } %>

    </div>

  </nav>
  <%- body %>

  <div class="bottom-nav">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sharethis-inline-follow-buttons"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/privacypolicy" class="privacy-pol">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5af27b9c7610d3001177ca58&product=inline-follow-buttons"></script>
<script src="/static/bundle.js"></script>

<%- defineContent('scripts') %>

</html>
