<body>
  <div>Logged In to Account Kit:</div>
  <div>User Token <%- userAccessToken -%></div>
  <div>User Token Expires at <%- expiresAt -%></div>
  <div>User Id <%- userId -%></div>
  <% if(phoneNum) { %>
    <div>User phone: <%- phoneNum -%></div>
  <% } %>
  <% if(emailAddress) { %>
    <div>User email: <%- emailAddress -%></div>
  <% } %>

  HIIIIIIII
</body>



<%- contentFor('title') -%>
Ample | Login Success
