
<body class="login-background">
  <div class="container">
    <div class="row signin-button-row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <div class="alert alert-info" role="alert">
          To make a review or add a business, you must first log in with Google. More ways to login to Ample are coming soon!
        </div>
        <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
      </div>
    </div>

    <div id="fb-root"></div>

    <form id="login-hidden-form" method="post" action="/login">
      <input id="access-token-field" type="hidden" name="access-token" />
      <input name="referer" value="<%- referer -%>" type="hidden" />
      <input id="login-service-field" name="login-service" type="hidden" />
    </form>

    <script>
      function checkLoginState() {
        FB.getLoginStatus(response => {
          if (response.status === 'connected') {
            document.getElementById('login-service-field').value = 'facebook';
            document.getElementById('access-token-field').value = response.authResponse.accessToken;
            document.getElementById('login-hidden-form').submit();
          }
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId: '<%- facebookAppId -%>',
          cookie: true,
          xfbml: true,
          version: 'v2.8'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=156289218248813&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function onGoogleSignIn(googleUser) {
        var idToken = googleUser.getAuthResponse().id_token;
        document.getElementById('login-service-field').value = 'google';
        document.getElementById('access-token-field').value = idToken;
        document.getElementById('login-hidden-form').submit();
      }
    </script>
  </div>
</body>

<%- contentFor('styleSheets') %>

<meta name="google-signin-client_id" content="<%- googleClientId -%>">
<script src="https://apis.google.com/js/platform.js?onload=startGoogleLogin" async defer></script>

<%- contentFor('title') -%>
Ample | Login
