<div class= "container">

  <div class="row review-top-row">
    <%- name -%>
  </div>
  <div class="row">
    <%- formatted_address -%>
  </div>
  <div class="row">
    <%- formatted_phone_number -%>
  </div>
  <div class="row review-title">
    <h2>Write a Review</h2>
  </div>
  <div class="row">
    <form class="main-form" method="POST" action="/businesses/<%- googleId -%>/reviews">
      <div class="form-group">
        <label for="content">Help clarify your rating with a written review</label>
            <textarea class="form-control" name="content" rows="5"></textarea>
        </label>
        <div class="row">
          <div class="col-md-6">
            <h4 class="accessibility-title">Accessibility</h4>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="sturdySeating">
              <label class="form-check-label" for="sturdySeating">
                Sturdy Seating
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="armlessChairs">
              <label class="form-check-label" for="armlessChairs">
                Armless Chair Options
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="wideTableSpacing">
              <label class="form-check-label" for="wideTableSpacing">
                Wide Table Spacing
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="wideTable">
              <label class="form-check-label" for="wideTable">
                Wide Exam/Bodywork Table
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="benchSeating">
              <label class="form-check-label" for="benchSeating">
                Bench Seating
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="wheelchair">
              <label class="form-check-label" for="wheelchair">
                Wheelchair Accessible
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="dedicatedParking">
              <label class="form-check-label" for="dedicatedParking">
                Dedicated Parking
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="handicapParking">
              <label class="form-check-label" for="handicapParking">
                Handicap Parking
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="stairsRequired">
              <label class="form-check-label" for="stairsRequired">
                Stairs Required
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="accessibility-title">Attitudes</h4>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="weightNeutral">
              <label class="form-check-label" for="weightNeutral">
                Weight-neutral
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="haes">
              <label class="form-check-label" for="haes">
                Health at Every Size Informed
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="fatPositive">
              <label class="form-check-label" for="fatPositive">
                Fat-Positive
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="lgbtq">
              <label class="form-check-label" for="lgbtq">
                LGBTQ-Friendly
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="transFriendly">
              <label class="form-check-label" for="transFriendly">
                Trans-Friendly
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="pocCentered">
              <label class="form-check-label" for="pocCentered">
                POC-Centered
              </label>
            </div>
          </div>
        </div>
        <div class="row review-submit-row">
          <button type="submit" class="btn review-submit-button">Submit Review</button>
        </div>
      </div>
    </form>
  </div>
</div>

<%- contentFor('title') -%>
Ample | New Review
