<div class= "container">

  <div class="row review-business-top-row">
    <div class="col-12 col-lg-6">
      <span class="dr-name"><%- name -%></span>
      <br />
      <%- formatted_address -%>
      <br />
      <%- formatted_phone_number -%>
    </div>
  </div>

  <div class="row review-title">
    <div class="col-12">
      <img src="/static/write-review.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="main-form" method="POST" action="/businesses/<%- googleId -%>/reviews">
        <div class="row form-group">
          <div class="col-12 col-lg-6">
            <% for (const criteria in CRITERIA_DESCRIPTIONS) { %>
              <% const ratingName = `${criteria}-rating`; %>
              <label class="star-rating-label" for="<%- ratingName -%>"><%- CRITERIA_DESCRIPTIONS[criteria] -%> Rating</label>
              <div class="star-rating" id="<%- ratingName -%>" data-name="<%- ratingName -%>"></div>
            <% } %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <textarea class="form-control" name="content" rows="8" placeholder="Clarify your rating with a review!"></textarea>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <small class="tag-label" for="tag-input">Add tags that describe key aspects of this business.</small>
            <div id="tag-input-outer-div" class="form-control">
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-5">
            <small for="parent-category">Help us to know what kind of business this is.</small>
            <select id="parent-category-select" class="form-control" name="parent-category">
              <option disabled selected="selected" value="">Select a category</option>
              <% for (const category in childCategoriesByParentCategory) { %>
                <option value="<%- category -%>"><%- category -%></option>
              <% } %>
            </select>
          </div>

          <div class="col-12 col-lg-5">
            <small for="parent-category">Some subcategories...</small>
            <select id="child-category-select" class="form-control" name="child-category">
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <button type="submit" class="btn review-submit-button" >Submit Review</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
const childCategoriesByParentCategory = <%- JSON.stringify(childCategoriesByParentCategory) %>;

const parentCategorySelect = document.getElementById('parent-category-select');
const childCategorySelect = document.getElementById('child-category-select');
parentCategorySelect.addEventListener('change', (event) => {
  const parentCategory = parentCategorySelect.value;
  const childCategories = childCategoriesByParentCategory[parentCategory];
  childCategorySelect.innerHTML = '<option></option>';

  for (const childCategory of childCategories) {
    const option = document.createElement('option');
    option.innerText = childCategory;
    option.value = childCategory;
    childCategorySelect.appendChild(option);
  }
});

ample.setUpStarRatings();
ample.enableSubmitButton(
  document.getElementsByTagName('form')[0],
  (parameters) =>
    parameters.content &&
    parameters['parent-category'] &&
    (
      parameters['fat-rating'] ||
      parameters['trans-rating'] ||
      parameters['disabled-rating']
    )
);

ample.tagInput(
  document.getElementById('tag-input-outer-div'),
  [],
  <%- JSON.stringify(allTags) -%>
);

</script>

<%- contentFor('title') -%>
Ample | New Review
