<div class= "container">

  <div class="row review-business-top-row">
    <div class="col-12 col-lg-6">
      <span class="dr-name"><%- name -%></span>
      <br />
      <%- formatted_address -%>
      <br />
      <%- formatted_phone_number -%>
    </div>
  </div>

  <div class="row review-title">
    <div class="col-12">
      <img src="/static/write-review.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="main-form" method="POST" action="/businesses/<%- googleId -%>/reviews">
        <div class="row form-group">
          <div class="col-12 col-lg-6">
            <label class="star-rating-label" for="body-positivity-rating">Body Positivity Rating</label>
            <div class="star-rating" id="body-positivity-rating" data-name="body-positivity-rating"></div>
            <label class="star-rating-label" for="lgbtq-inclusivity-rating">LGBTQ Inclusivity Rating</label>
            <div class="star-rating" id="lgbtq-inclusivity-rating" data-name="lgbtq-inclusivity-rating"></div>
            <label class="star-rating-label" for="poc-inclusivity-rating">P.O.C Inclusivity Rating</label>
            <div class="star-rating" id="poc-inclusivity-rating" data-name="poc-inclusivity-rating"></div>
            <label class="star-rating-label" for="building-accessibility-rating">Building and Space Accessibility Rating</label>
            <div class="star-rating" id="building-accessibility-rating" data-name="building-accessibility-rating"></div>
            <label class="star-rating-label" for="furniture-size-rating">Furniture Suitable for Fat Bodies</label>
            <div class="star-rating" id="furniture-size-rating" data-name="furniture-size-rating"></div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <textarea class="form-control" name="content" rows="8" placeholder="Clarify your rating with a review!"></textarea>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-5">
            <small for="parent-category">Help us to know what kind of business this is.</small>
            <select id="parent-category-select" class="form-control" name="parent-category">
              <option disabled selected="selected">Select a category</option>
              <% for (const category in childCategoriesByParentCategory) { %>
                <option value="<%- category -%>"><%- category -%></option>
              <% } %>
            </select>
          </div>

          <div class="col-12 col-lg-5">
            <small for="parent-category">Be more specific if you want.</small>
            <select id="child-category-select" class="form-control" name="child-category">
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <button type="submit" class="btn review-submit-button" >Submit Review</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
const childCategoriesByParentCategory = <%- JSON.stringify(childCategoriesByParentCategory) %>;

const parentCategorySelect = document.getElementById('parent-category-select');
const childCategorySelect = document.getElementById('child-category-select');
parentCategorySelect.addEventListener('change', (event) => {
  const parentCategory = parentCategorySelect.value;
  const childCategories = childCategoriesByParentCategory[parentCategory];
  childCategorySelect.innerHTML = '<option></option>';

  for (const childCategory of childCategories) {
    const option = document.createElement('option');
    option.innerText = childCategory;
    option.value = childCategory;
    childCategorySelect.appendChild(option);
  }
});

ample.setUpStarRatings();
</script>

<%- contentFor('title') -%>
Ample | New Review
