<div class= "container">
  <div class="row review-title">
    <h2>Write a Review</h2>
  </div>
  <div class="row review-business-top-row">
    <%- name -%>
  </div>
  <div class="row">
    <%- formatted_address -%>
  </div>
  <div class="row review-business-bottom-row">
    <%- formatted_phone_number -%>
  </div>
  <div class="row">
    <form class="main-form" method="POST" action="/businesses/<%- googleId -%>/reviews">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class="star-rating" for="body-positivity-rating">Body Positivity Rating</label>
            <div id="body-positivity-rating" data-name="body-positivity-rating"></div>
            <label class="star-rating" for="lgbtq-inclusivity-rating">LGBTQ Inclusivity Rating</label>
            <div id="lgbtq-inclusivity-rating" data-name="lgbtq-inclusivity-rating"></div>
            <label class="star-rating" for="poc-inclusivity-rating">P.O.C Inclusivity Rating</label>
            <div id="poc-inclusivity-rating" data-name="poc-inclusivity-rating"></div>
            <label class="star-rating" for="building-accessibility-rating">Building and Space Accessibility Rating</label>
            <div id="building-accessibility-rating" data-name="building-accessibility-rating"></div>
            <label class="star-rating" for="furniture-size-rating">Furniture for Larger Bodies</label>
            <div id="furniture-size-rating" data-name="furniture-size-rating"></div>
          </div>
        </div>
          <textarea class="form-control" name="content" rows="8" placeholder="Clarify your rating with a review!"></textarea>
        <div class="row review-submit-row">
          <button type="submit" class="btn review-submit-button" >Submit Review</button>
        </div>
      </div>
    </form>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
new ample.StarRatingView(document.getElementById('body-positivity-rating'))
new ample.StarRatingView(document.getElementById('lgbtq-inclusivity-rating'))
new ample.StarRatingView(document.getElementById('poc-inclusivity-rating'))
new ample.StarRatingView(document.getElementById('building-accessibility-rating'))
new ample.StarRatingView(document.getElementById('furniture-size-rating'))

</script>

<%- contentFor('title') -%>
Ample | New Review
