<div class= "container">

  <div class="row review-business-top-row">
    <div class="col-12 col-lg-6">
      <span class="review-biz-name"><%- name -%></span>
      <br />
      <%- formatted_address -%>
      <br />
      <%- formatted_phone_number -%>
    </div>
  </div>

  <div class="row review-title">
    <div class="col-12">
      <h2>Write A Review</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="main-form" method="POST" action="/businesses/<%- googleId -%>/reviews">
        <div class="row form-group">
          <div class="col-12 col-lg-6">
            <% for (const criteria in CRITERIA_DESCRIPTIONS) { %>
              <% const ratingName = `${criteria}-rating`; %>
              <label class="star-rating-label new-review-star-label" for="<%- ratingName -%>"><%- CRITERIA_DESCRIPTIONS[criteria] -%> Rating</label>
              <a class="tooltip-questionmark" id="<%- ratingName -%>" data-toggle="tooltip" data-trigger= "click, hover" data-placement="top"><div class="round-question">?</div></a>
              <div class="star-rating" id="<%- ratingName -%>" data-name="<%- ratingName -%>"></div>
            <% } %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <textarea class="form-control" name="content" rows="8" placeholder="Explain your ratings with a review!"></textarea>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <h5 class="tag-label" for="tag-input">Add Tags</h5>
            <a class="tooltip-questionmark" id="tooltip-tag" data-toggle="tooltip" data-trigger= "click, hover" data-placement="top"><div class="round-question">?</div></a>
            <div class="row">
              <div class="col-12">
                <small>Tags are an important part of the review process.</small>
              </div>
            </div>
            <div id="tag-input-outer-div" class="form-control">
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-5">
            <small for="parent-category">Help us to know what kind of business this is.</small>
            <select id="parent-category-select" class="form-control" name="parent-category">
              <option disabled selected="selected" value="">Select a category</option>
              <% for (const category in childCategoriesByParentCategory) { %>
                <option value="<%- category -%>"><%- category -%></option>
              <% } %>
            </select>
          </div>

          <div class="col-12 col-lg-5">
            <small for="parent-category">Optionally, add a subcategory.</small>
            <select id="child-category-select" class="form-control" name="child-category">
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12 col-lg-10">
            <button type="submit" class="btn review-submit-button" >Submit Review</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
const childCategoriesByParentCategory = <%- JSON.stringify(childCategoriesByParentCategory) %>;

const parentCategorySelect = document.getElementById('parent-category-select');
const childCategorySelect = document.getElementById('child-category-select');
parentCategorySelect.addEventListener('change', (event) => {
  const parentCategory = parentCategorySelect.value;
  const childCategories = childCategoriesByParentCategory[parentCategory];
  childCategorySelect.innerHTML = '<option></option>';

  for (const childCategory of childCategories) {
    const option = document.createElement('option');
    option.innerText = childCategory;
    option.value = childCategory;
    childCategorySelect.appendChild(option);
  }
});

ample.setUpStarRatings();
ample.enableSubmitButton(
  document.getElementsByTagName('form')[0],
  (parameters) =>
    parameters.content &&
    parameters['parent-category'] &&
    (
      parameters['fat-rating'] ||
      parameters['trans-rating'] ||
      parameters['disabled-rating']
    )
);

ample.tagInput(
  document.getElementById('tag-input-outer-div'),
  [],
  <%- JSON.stringify(allTags) -%>
);

function setBodyPositiveText() {
  return "This rating explains attitudes towards larger-bodied people. 5 stars indicates that large bodies, including very fat bodies, would be welcomed here. 1 star indicates fatphobia or sizeism is common. Leave this blank if you don't know."
}

function setTransAwarenessText() {
  return "This rating explains attitudes towards trans and gender nonbinary people. 5 stars indicates awareness of issues like pronoun respect. 1 star indicates intolerance towards these identities. Leave this blank if you don't know."
}

function setAccessibilityText() {
  return "This rating tells others about the physical accessibility of the space for those with disabilities. 5 stars would indicate that the space is easy to access, is without stairs, has wide doorways/aisles, or has easy parking. Leave this blank if you don't know."
}

function setPocText() {
  return "We are working with BIPOC on what this tooltip guide will be! Leave this blank if you don't know."
}

function setTagText() {
  return "To add a tag, put cursor inside box and begin typing. A dropdown menu will appear with other commonly used tags. Press enter upon completion of typing to attach the tag, and add more if you want! Example tags: all gender bathrooms, high limit scale, wide aisles, handicap parking. Soon tags will be searchable across all Ample reviews."
}

$('#fat-rating').tooltip({
    title: setBodyPositiveText
})

$('#trans-rating').tooltip({
    title: setTransAwarenessText
})

$('#disabled-rating').tooltip({
    title: setAccessibilityText
})

$('#poc-rating').tooltip({
    title: setPocText
})

$('#tooltip-tag').tooltip({
    title: setTagText
})

$('[rel=tooltip]').tooltip({container: 'body'});

</script>

<%- contentFor('title') -%>
Ample | New Review
