<div class="container">
  <form class="search-bar" action="/searchforbusinesses" method="GET">
    <div class="form-row search-row">
      <div class="col-12 col-lg-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Find</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="business-search-term"
            name="term"
            placeholder="doctors, Sally's Hair Salon, massage" />
        </div>
      </div>

      <div class="col-10 col-lg-5">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Near</div>
          </div>
          <input
            type="text"
            class="form-control"
            name="location"
            id="business-location"
            placeholder="address, city, zip code" />
        </div>
      </div>
      <div class="col-2 col-lg-1">
        <input type="submit" value="Go" class="btn go-button"/>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12">
      <h3 class="search-results-title">
        Search Results for <%- term -%> near <%- location -%> :
      </h3>
    </div>
  </div>

  <ul class="list-group">
    <% for (const business of businesses) { %>
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-2">
            <img
              class="biz-img-thumb img-fluid"
              src="<%- business.photoURL -%>"
            />
          </div>
          <div class="col-7">
            <a href="/businesses/<%=business.googleId%>"><span class="search-result-title dr-name"><%= business.name %></span></a> </br>
            <span><%- business.vicinity -%></span>
          </div>
          <div class="col-3">
            <% if (business.reviewCount > 0) { %>
              <!-- <span><%= business.reviewCount %> reviews</span> -->
              <div class="float-right ">
                <div class="business-overall-rating" data-value= "<%=business.overallRating %>" data-name="business-overall-rating" data-size="small"></div>
                <span class="review-count">(<%= business.reviewCount %>)</span>
              </div>

            <% } else { %>
              <span class="float-right">Be the first to review</span>
            <% } %>
          </div>
        </div>
      </li>
    <% } %>
  </ol>
</div>

<%- contentFor('scripts') -%>
<script>
const starRatingElements = document.getElementsByClassName("business-overall-rating");
for (const element of starRatingElements) {
  new ample.StarRatingView(element);
}
</script>

<%- contentFor('title') -%>
Ample | Search Results
