<div class="container">
  <form class="search-bar" action="/searchforbusinesses" method="GET">
    <div class="form-row search-row">
      <div class="col-12 col-lg-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Find</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="business-search-term"
            name="term"
            value="<%- term -%>"
            placeholder="doctors, Sally's Hair Salon, massage" />
        </div>
      </div>

      <div class="col-10 col-lg-5">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Near</div>
          </div>
          <input
            type="text"
            class="form-control"
            name="location"
            value="<%- location -%>"
            id="business-location"
            placeholder="address, city, zip code" />
        </div>
      </div>
      <div class="col-2 col-lg-1">
        <input type="submit" value="Go" class="btn go-button"/>
      </div>
    </div>
  </form>

  <% if (businesses.length > 0) { %>
    <div class="row">
      <div class="col-12">
        <h3 class="search-results-title">
          Search Results for <%- term -%> near <%- location -%>:
        </h3>
      </div>
    </div>

    <ol class="list-group list-group-flush">
      <% for (const business of businesses) { %>
        <%
          const businessURL = business.id
            ? `/businesses/${business.id}`
            : `/businesses/${business.googleId}`;
        %>

        <li class="list-group-item">
          <div class="row align-self-start">
            <div class="col-3 col-lg-3 image-column">
              <% if (business.photoURL) { %>
              <img
                class="biz-img-thumb img-fluid"
                src="<%- business.photoURL -%>"
              />
              <% } else { %>
                <img
                  class="biz-img-thumb img-fluid"
                  src="/static/no-image-small.png"
                />
              <% } %>
            </div>
            <div class="col-9 col-lg-9 search-results-business-info">
              <div class="row">
                <div class="col-12 col-lg-8">
                  <a href="<%- businessURL -%>"><span class="business-listing-title"><%= business.name %></span></a> </br>
                  <span class="business-address-tag-line"><%- business.address -%></span>
                </div>
                <div class="col-12 col-lg-4 ">
                  <% if (business.reviewCount > 0) { %>
                    <div class="score-grouping">
                      <div class="star-rating search-results-star-rating" data-value= "<%=business.overallRating %>" data-size="small"></div>
                      <span class="review-count">(<%= business.reviewCount %>)</span>
                    </div>
                  <% } else if (business.takenPledge && business.ownershipConfirmed) { %>
                    <span class="score-grouping"><a class="taken-pledge-words" href="<%- businessURL -%>">Taken the Inclusivity Pledge!</a></span>
                  <% } else { %>
                    <span class="score-grouping"><a class="be-first-words" href="<%- businessURL -%>">Be the first to review</a></span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% } %>
    </ol>
    <div class="row">
      <div class="col-12">
        <div class="add-business-link">Missing the business you were looking for? </div>
      </div>
      <div class="col-12">
        <div class="add-business-link"><a href="/businesses/new">Add the business here.</a></div>
      </div>
    </div>
    <div class="row">

    </div>

  <% } else { %>
    <div class='row alert alert-info'>
      <div class='col-12'>
        Oops! We couldn't find any businesses for that search term and location. <a href="/businesses/new">You can add the business here,</a> or try a new search.
      </div>
    </div>
  <% } %>
  <div class="push">
  </div>
</div>

<%- contentFor('scripts') -%>
<script>
ample.setUpStarRatings();
ample.locationField(document.getElementById("business-location"));

const categories = <%- JSON.stringify(categories) %>;

ample.autocomplete('#business-search-term', {
  appendTo: 'body',
  hint: false,
  openOnFocus: true,
}, [
  {
    displayKey: (category) => category,
    source: (query, callback) => {
      query = query.toLowerCase();

      callback(categories.filter(category => {
        category = category.toLowerCase();
        return (
          category.indexOf(query) === 0 ||
          category.indexOf(' ' + query) !== -1
        );
      }));
    }
  }
]);

</script>

<%- contentFor('title') -%>
Ample | Search Results
