<div class="container">
  <p>
    Search Results for <%- term -%> near <%- location -%>
  </p>

  <ol class="list-group">
    <% for (const business of businesses) { %>
      <li class="row list-group-item">
        <img width="80" height="80" src="<%= business.imageUrl %>"/>
        <a href="<%=business.placeId%>"><span><%= business.name %></span></a>

        <% if (business.reviewCount > 0) { %>
          <span><%= business.reviewCount %> reviews</span>
          <span><%= business.rating %></span>
        <% } else { %>
          <span>Be the first to review</span>
        <% } %>
      </li>
    <% } %>
  </ol>

</div>

<%- contentFor('title') -%>
Ample | Search Results
