<div class="container">

  <div class="row">
    <h2>Add Amplifier Status to a User</h2>

    <form id="create-amplifier-form" class="col-8" method="POST" action="/admin/amplify">
      <input name="email" class="form-control" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email" placeholder="Enter email">
      <a class="btn btn-primary create-amplifier">Amplify</a>
    </form>
  </div>

  <ul class="list-group">
    <h2>Pending tags:</h2>
    <% for (const tag of pendingTags) { %>
      <li class="list-group-item">
        <%- tag -%>
        <a class="btn btn-primary approve-tag" data-tag="<%- tag -%>">Approve</a>
      </li>
    <% } %>
  </ul>

  <ul class="list-group">
    <h2> Businesses awaiting ownership approval:</h2>
    <% for (const business of businessesWithUnconfirmedOwners) { %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
            BUSINESS NAME: <%- business.business_name -%>
          </div>
          <div class="col-4">
            <%- business.address -%>
          </div>
          <div class="col-4">
            OWNER: <%- business.owner_name -%>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            OWNER EMAIL: <%- business.email -%>
          </div>
          <div class="col-4">
            TAKEN PLEDGE? : <%- business.taken_pledge -%>
          </div>
          <div class="col-4">
            OWNER STATEMENT: <%- business.owner_statement -%>
          </div>
        </div>
        <a class="btn btn-primary approve-owner" data-business-id="<%- business.business_id -%>" data-ownerId="<%- business.ownerId -%>">Approve</a>

      </li>
    <% } %>

  </ul>

  <h2> All Reviews:</h2>
  <ul class="list-group">
    <% for (const review of allReviews) { %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-1">
            <%- review.review_id -%>
          </div>
          <div class="col-2">
            <%- review.business_name -%>
          </div>
          <div class="col-3">
            <%- review.address -%>
          </div>
          <div class="col-3">
            <%- review.user_name -%>
            <%- review.email -%>
          </div>
          <div class="col-2">
            <%- review.date -%>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%- review.content -%>
          </div>
        </div>

      </li>
    <% } %>
  </ul>

</div>

<form id='approve-tag-form' method="POST" action='/admin/approve-tag'>
  <input name="tag" id='approve-tag-input' type="hidden" />
</form>

<form id='approve-owner-form' method="POST" action='/admin/approve-owner'>
  <input name="businessId" id='approve-owner-businessId' type="hidden" />
</form>

<%- contentFor('title') -%>
Ample | Admin

<%- contentFor('scripts') -%>
<script>

document.addEventListener('click', event => {
  if (event.target.classList.contains('approve-tag')) {
    const {tag} = event.target.dataset;
    if (confirm(`Are you sure you want to approve the tag '${tag}'`)) {
      document.getElementById('approve-tag-input').value = tag;
      document.getElementById('approve-tag-form').submit();
    }
  } else if (event.target.classList.contains('approve-owner')){
    const {businessId} = event.target.dataset;
    if (confirm(`Are you sure you want to approve the owner?`)) {
      document.getElementById('approve-owner-businessId').value = businessId;
      document.getElementById('approve-owner-form').submit();
    }
  } else if (event.target.classList.contains('create-amplifier')){
    if (confirm(`Are you sure you want to make this person an amplifier?`)) {
      document.getElementById('create-amplifier-form').submit();
    }
  }
});
</script>
